body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header img {
  width: 80px;
  height: 80px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  margin-left: 120px;
  margin-right: 120px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
  
.navigation li {
  margin-right: 20px;
}
  
.navigation a {
  color: #535534;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
  
.navigation a:hover {
  color: #0F1732;
}
  
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  /* padding: 20px;
  margin-bottom: 20px; */
  max-width: 800px;
  width: 100%;
}

h1, h2 {
  color: #232324;
}

button {
  background-color: #0F1732;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #0F1732;
}

a:hover {
  color: #0056b3;
}

footer {
  background-color: #0F1732;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}