body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


/** NAV HEADER **/
header img {
  width: 80px;
  height: 80px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
  
.navigation li {
  margin-right: 20px;
}
  
.navigation a {
  color: #535534;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
  
.navigation a:hover {
  color: #0F1732;
}

header button {
    display: none;
}

header button svg {
    width: 2em;
    height: 2em;
}

/* ****** ****** */
/* Responsiv design */
@media only screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        text-align: center;
        padding-top: 1.618em;
        padding-bottom: 1.618em;
    }
    
    .toggle-menu {
      display: block;
      background-color: #ffffff;
      border: none;
      padding: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  
    .navigation {
      display: none;
    }
  
    .navigation.show {
      display: flex;
      position: absolute;
      top: 135px;
      left: 0;
      width: 100%;
      background-color: #ffffff;
      padding: 20px;
      border: 1px solid #dddddd;
      flex-direction: column;
      text-align: left;
    }
  
    .navigation li {
      margin-bottom: 10px;
    }
  
    .navigation a {
      font-size: 16px;
    }
  }
  
  /* Toggle menu */
  .toggle-menu:hover {
    background-color: #f7f7f7;
  }
  
  .toggle-menu:focus {
    outline: none;
  }

/** MAIN STYLES **/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  /* padding: 20px;
  margin-bottom: 20px; */
  max-width: 800px;
  width: 100%;
}

h1, h2 {
  color: #232324;
}

button {
  background-color: #0F1732;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

p a {
  text-decoration: none;
  color: #0F1732;
}

a:hover {
  color: #0056b3;
}

footer {
  background-color: #0F1732;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  padding-top: 1em;
  margin: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    text-transform: lowercase;
}