/** MAIN STYLES **/

:root {
  --primary-color: #ffdf1e;
  --primary-color-hover: hsl(199, 100%, 27%);
  --background-color: #0F1732;
  --text-color: #dcdcdc;
  --font-family: "Open-Sans", Arial, sans-serif;
}

html {
  background-color: var(--background-color);
}

body {
  font-size: calc(15px + 0.390625vw);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
}

section {
  /* padding: 20px;
  margin-bottom: 20px; */
  max-width: 800px;
  width: 100%;
}

p {
  font-size: 1.1rem;
  margin-block-start: 0.3em;
}

h1 {
  --minFontSize: 32px;
  --maxFontSize: 200px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));

  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

h2 {
  font-size: 1.5rem;
  margin-block-end: 0.3em;
}

mark {
  background-color: var(--primary-color);
  color: black;
  line-height: 170%;
  padding: 3px;
  font-size: 1.2rem;
}

button {
  background-color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul.checklist {
  list-style: none;
}

ul.checklist li {
  margin-bottom: 10px;
  text-indent: -30px;
  font-size: 1.1rem;
}

ul.checklist li::before {
  vertical-align: middle;
  content: url(check.svg);
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}


p a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #0056b3;
}

footer {
  background-color: var(--background-color);
  padding: 10px;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  padding-top: 1em;
  margin: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li a {
  text-decoration: none;
  text-transform: lowercase;
}

/** range slider **/

#valfrittbelopp {
  padding: 10px;
  border: 1px solid color(srgb 1 1 1 / 0.2);
  background-color: color(srgb 1 1 1 / 0.1);
  border-radius: 12px;
}

.slider-container {
  margin: 20px 0;
}

label {
  font-size: 1rem;
  display: block;
  margin-bottom: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: var(--text-color);
  border-radius: 2px;
  outline: none;
  margin: 10px 0;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--primary-color-hover);
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.value-display {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 0;
}

.pay-button {
  display: inline-block;
  width: 100%;
  text-align: center;
  max-width: 230px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.pay-button:hover {
  background-color: var(--primary-color-hover);
}

.pay-button:active {
  transform: scale(0.98);
}

.pay-button:focus {
  outline: 2px solid var(--primary-color-hover);
  outline-offset: 4px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.2rem;
  }

  .pay-button {
    padding: 15px;
    font-size: 1rem;
  }
}

/** fit to width text credit https://kizu.dev/fit-to-width/ **/
.text-fit {
  display: flex;
  container-type: inline-size;

  --captured-length: initial;
  --support-sentinel: var(--captured-length, 9999px);

  &>[aria-hidden] {
    visibility: hidden;
  }

  &> :not([aria-hidden]) {
    flex-grow: 1;
    container-type: inline-size;

    --captured-length: 100cqi;
    --available-space: var(--captured-length);

    &>* {
      --support-sentinel: inherit;
      --captured-length: 100cqi;
      --ratio: tan(atan2(var(--available-space),
            var(--available-space) - var(--captured-length)));
      --font-size: clamp(1em,
          1em * var(--ratio),
          var(--max-font-size, infinity * 1px) - var(--support-sentinel));
      inline-size: var(--available-space);

      &:not(.text-fit) {
        display: block;
        font-size: var(--font-size);

        @container (inline-size > 0) {
          white-space: nowrap;
        }
      }

      &.text-fit {
        --captured-length2: var(--font-size);
        font-variation-settings:
          'opsz'
          tan(atan2(var(--captured-length2), 1px));
      }
    }
  }
}

@property --captured-length {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --captured-length2 {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

/** end fit to width text **/
/** responsive images **/
img {
  max-width: 100%;
}

img[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

/** fit text to width end **/

/** NAV HEADER **/
header img {
  width: 4rem;
  height: 4rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  color: #535534;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

.navigation a:hover {
  color: var(--background-color);
}

header button {
  display: none;
}

header button svg {
  width: 2em;
  height: 2em;
}

.flex_2_columns {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

/* ****** ****** */

/* Toggle menu */
.toggle-menu:hover {
  background-color: #f7f7f7;
}

.toggle-menu:focus {
  outline: none;
}

/* Responsiv design */
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
  }

  .toggle-menu {
    display: block;
    background-color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .navigation {
    display: none;
  }

  .navigation.show {
    display: flex;
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dddddd;
    flex-direction: column;
    text-align: left;
  }

  .navigation li {
    margin-bottom: 10px;
  }

  .navigation a {
    font-size: 1rem;
  }

  /** responsive stripe **/
  .PriceColumn {
    order: 2;
  }

  .PriceColumn.is-highlight {
    order: 1;
  }
}